
<div>
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>
  <% cache @product do %>
    <h1><%= @product.name %></h1>
    <%= @product.description %>
   <%= render "inventory", product: @product %>
  <% end %>
</div>


<div>
  <%= link_to "Back", products_path %>
  <% if authenticated? %>
    <div><%= link_to "Edit", edit_product_path(@product) %></div>
    <div><%= button_to "Destroy", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %></div>
  <% end %>
</div>